{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "uglify": true
      }
    }],
    "react",
    "es2015",
    "flow"
  ],
  "plugins": [
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-class-properties"
  ]
}
