{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:flowtype/recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "flowtype",
    "flowtype-errors"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "flowtype-errors/show-errors": 2,
    "array-callback-return": 0,
    "consistent-return": 0,
    "object-curly-newline": 0,
    "max-len": 0
  }
}
